.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 550px;
    max-width: 90vw;
    border-radius: 24px;
    padding: 50px;
    transform-origin: top;
    h2 {
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }
    .body {
      display: flex;
      height: 100%;
      margin-top: 50px;
      gap: 50px;

      @media only screen and (max-wdith: 768px) {
        flex-direction: column;
      }

      .description {
        width: 40%;
        position: relative;
        top: 10%;
        p {
          font-size: 16px;
          margin-bottom: 10px;
          // &::first-letter {
          //   font-size: 28px;
          //   font-family: "Title";
          // }
        }
        h3 {
          font-weight: bold;
          line-height: 2;
          font-size: 18px;
        }
        span {
          display: flex;
          align-items: center;
          gap: 5px;
          a {
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer {
        position: relative;
        width: 60%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    .card {
      height: 650px;
      h2 {
        font-size: 22px;
      }
      .body {
        flex-direction: column;
        margin-top: 0px;
        row-gap: 70px;
        .description {
          width: 100%;
          top: 5%;
          p {
            font-size: 14px;
            &::first-letter {
              font-size: 18px;
              font-family: "Title";
            }
          }
        }
        .imageContainer {
          width: 100%;
        }
      }
    }
  }
}
