.container {
  height: 200vh;
  position: relative;
  .sticky {
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 100vh;

    .el {
      width: 100%;
      height: 100%;
      top: 100px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .imageContainer {
        position: relative;
        width: 25vw;
        height: 35vh;
        @media screen and (max-width: 768px) {
          width: 30vw;
          height: 260px;
        }
        img {
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }
}
