.paragraph {
  display: flex;
  font-size: 22px;
  line-height: 1;
  flex-wrap: wrap;
  padding-right: 80px;

  .word {
    position: relative;
    margin-right: 7px;
    margin-top: 9px;
    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }
}

@media screen and (max-width: 768px) {
  .paragraph {
    display: flex;
    font-size: 20px;
    line-height: 1.2;
    flex-wrap: wrap;
    text-align: justify;
    margin-bottom: 50px;
    padding: 0;
  }
}
